<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- Add User Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="addUserSidebar" aria-labelledby="addUserSidebarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="addUserSidebarLabel">Add User</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- Load Add User Component -->
    <app-add-user></app-add-user>
  </div>
</div>
